<header>
  <div style='background-color: aliceblue; clear: both; display: table; width: 100%;'>
    <div style="float: left; width: 20%;">
      <img src="{{logo}}" alt="company logo" class="logo">
    </div>
    <div style="float: left; width: 80%; align-self: auto;">
      <h2 style="text-align: center">{{myHeading}}</h2>
    </div>
  </div>
  <div style='background-color: aliceblue; clear: both; display: table; width: 100%;'>
    <div>
      <app-menu [linksFromParent]='links'></app-menu>
    </div>
  </div>
</header>